
.layout-one > p {
    display: block; /*default*/
    width: 200px;
    height: 130px;
    background-color: rebeccapurple;
    text-align: center;
    align-content: center;
}

.layout-two > p {
    display: inline; /*default*/
    width: 200px; /*can't impact on the size that mode*/
    height: 200px;/*can't impact on the size that mode*/
    background-color: yellowgreen;
    text-align: center;
}

.layout-three > p {
    display: inline-block; /*default*/
    width: 200px;
    height: 100px;
    background-color: aqua;
    text-align: center;
    align-content: center;
}